@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

:root{
    /* colores */
    --Cyan : #7FF1E4;
    --Orange: #F5B041 ;
    --Cream: #F8EAD1 ;
    --white: #ffffff;
    --Black: #000000;
    --Pink: #FDCCC6;
    --Lavender: #C78EDF;
    --LavenderBluish: #8E9EDF ;

    /* Fonts */

    --LightFont: 'Lexend Deca', sans-serif;
    --strongerFont: 'Big Shoulders Display', cursive;

}

body{
    background-color: black;
}

.container1{
    display: flex;
    align-items: center;
}

.ApuntesObjetos{
    width: 50%;
    margin: auto;
    background-color: #F8EAD1;
    

}
h1{
    font-size:50px;
    font-family: var(--strongerFont);
    text-align: center;
    
}
.text1{
    text-align: center;
    font-family: var(--LightFont);
    margin: 40px;


}
.img1{
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 90%;
}

@media (max-width: 1000px){
    .ApuntesObjetos{
        width: 80%;
    }

    h1{
        font-size: 30px;
    }
    .text1{
        font-size: 13px;
    }
    .img1{
        max-width: 80%;
    }
}